.widget {
  width: 30%;
  margin: 15px;
}

.weather {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.weather_icon {
  margin-right: 15px;
}
.weather_temp {
  font-size: 30px;
  margin-right: 15px;
}
.weather_forecast {
  display: flex;
  flex-flow: column;
  align-items: start;
}

.visited_title{
  margin-right: 15px;
}

.live {
  display: flex;
  align-items: center;
}
.live_title {
  margin: 0 10px;
}
.live_description {
  font-size: 12px;
}
